.grid-container {
    display: grid;
    grid-template-columns: 4fr repeat(4, 1fr);
}

.grid-item{
    padding-top: 50px;
}

.mihealth {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
}

.mi {
    color: red;
}

.health {
    color: #8EE913;
}
.grid-item-1 {
    padding-left: 70px;
}
.grid-item-2 {
    padding-right: 100px;
}

.grid-container-2 {
    background-color: #DCD5D5;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    height: 450px;
    margin-top: 20px;
}

.grid-thing-1 {
    padding-left: 40px;
    padding-top: 35px;
}

.image1 {
    max-width: 100%;
    max-height: 100%;
    min-width: 100%;
    min-height: 100%;
}

.image2 {
    max-width: 100%;
    max-height: 100%;
    min-width: 100%;
    min-height: 100%;
}
.image3 {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    height: 378px;
}

.images {
    height: 378px;
    padding: 30px 5px 30px 5px;
    
}

