.grid-container {
    display: grid;
    grid-template-columns: 4fr repeat(4, 1fr);
}

.grid-item{
    padding-top: 50px;
}

.mihealth {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
}

.mi {
    color: red;
}

.health {
    color: #8EE913;
}
.grid-item-1 {
    padding-left: 70px;
}
.grid-item-2 {
    padding-right: 100px;
}

.grid-container-2 {
    background-color: #DCD5D5;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    height: 450px;
    margin-top: 20px;
    position: fixed;
}

.grid-thing-1 {
    padding-left: 40px;
    padding-top: 35px;
    min-width: 250px;
    max-width: 250px;
    position: fixed;
}

.image1 {
    max-width: 100%;
    max-height: 100%;
    min-width: 100%;
    min-height: 100%;
    margin-left: 300px;
}

.image2 {
    max-width: 100%;
    max-height: 100%;
    min-width: 100%;
    min-height: 100%;
    margin-left: 300px;
}
.image3 {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    height: 378px;
    margin-left: 300px;
}

.images {
    height: 378px;
    padding: 30px 5px 30px 5px;
    min-width: 310px;
    max-width: 300px;    
}

.fresh {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    background-color: white;
    position: absolute;
    top: 325px;
    left: 547px;
    padding: 10px 10px 10px 10px;
  }

  .sweet {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    background-color: white;
    position: absolute;
    top: 325px;
    left: 862px;
    padding: 10px 10px 10px 10px;
  }

  .delicious {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    background-color: white;
    position: absolute;
    top: 325px;
    left: 1157px;
    padding: 10px 10px 10px 10px;
  }

  .breakfast {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    background-color: #90EB15;
    position: absolute;
    top: 366px;
    left: 482px;
    padding: 10px 10px 10px 40px;
  }

  .lunch {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    background-color: #90EB15;
    position: absolute;
    top: 366px;
    left: 823px;
    padding: 10px 10px 10px 50px;
  }

  .dinner {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    background-color: #90EB15;
    position: absolute;
    top: 366px;
    left: 1138px;
    padding: 10px 10px 10px 50px;
  }